#signupform .controls{
    width: 50%;
    float: right;
  }
#signupform .form-label{float:left;}

.cityitemul,.cityitemul li{  
  list-style:none;  
}  
.cityitemul{  
  overflow:hidden;  
  padding:3em;  
}  
.cityitemul > li > a{  
  text-decoration:none;  
  color:#000;    
  display:block;  
  padding:1em;  
}  
.cityitemul li{  
  margin:1em;  
  float:left;  
}  

.tags {
  padding: 0;
  margin: 0;
}

.custom {
  width: 260px;
  margin: 0 auto;
}
.tags a:focus { outline: 0; }
.tags a.tag {
  background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.12) 0%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.1) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.12)), color-stop(99%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.1)));
  background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.12) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%);
  background-image: -o-linear-gradient(top,  rgba(255,255,255,0.12) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%);
  background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.12) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(top,  rgba(255,255,255,0.12) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%);

  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;

  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;

  border: 1px solid;
  border-left: 0;
  position: relative;
  display: inline-block;
  margin: 0 15px 5px 0;
  padding: 0 10px;
  height: 25px;

  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  text-decoration: none;
  z-index: 2;
}
.tags a:before {
  background-image: -moz-linear-gradient(rgba(255,255,255,0.12) 0%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.1) 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.12)), color-stop(99%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.1)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.12) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%);
  background-image: -o-linear-gradient(rgba(255,255,255,0.12) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%);
  background-image: -ms-linear-gradient(rgba(255,255,255,0.12) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(rgba(255,255,255,0.12) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%);

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */
  M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');
  zoom: 1;

  -webkit-box-shadow: 1px 0px 0 rgba(255,255,255,0.5) inset;
  -moz-box-shadow: 1px 0px 0 rgba(255,255,255,0.5) inset;
  box-shadow: 1px 0px 0 rgba(255,255,255,0.5) inset;

  content: '';
  z-index: 1;
  position: absolute;
  height: 18px;
  width: 18px;
  left: -10px;
  top: 3px;

  border: 1px solid;
  border-right: 0;
  border-top: 0;
}
.tags a:after {
  background: #fff;
  border: 1px solid #888;
  border-radius: 5px;
  content: '';
  position: absolute;
  height: 5px;
  width: 5px;
  top: 9px;
  left: 0;
  z-index: 2;
}
.tags a.tag:hover {
  background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.1) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(100%,rgba(0,0,0,0.1)));
  background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(0,0,0,0.1) 100%);
  background-image: -o-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(0,0,0,0.1) 100%);
  background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(0,0,0,0.1) 100%);
}
.tags a.tag:hover:before {
  background-image: -moz-linear-gradient(rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.1) 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(100%,rgba(0,0,0,0.1)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.25) 0%,rgba(0,0,0,0.1) 100%);
  background-image: -o-linear-gradient(rgba(255,255,255,0.25) 0%,rgba(0,0,0,0.1) 100%);
  background-image: -ms-linear-gradient(rgba(255,255,255,0.25) 0%,rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(rgba(255,255,255,0.25) 0%,rgba(0,0,0,0.1) 100%);
}
.tags a.tag:active {
  background-image: -moz-linear-gradient(top,  rgba(0,0,0,0.14) 0%, rgba(255,255,255,0.12) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.14)), color-stop(100%,rgba(255,255,255,0.12)));
  background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.14) 0%,rgba(255,255,255,0.12) 100%);
  background-image: -o-linear-gradient(top,  rgba(0,0,0,0.14) 0%,rgba(255,255,255,0.12) 100%);
  background-image: -ms-linear-gradient(top,  rgba(0,0,0,0.14) 0%,rgba(255,255,255,0.12) 100%);
  background-image: linear-gradient(top,  rgba(0,0,0,0.14) 0%,rgba(255,255,255,0.12) 100%);
}
.tags a:active:before {
  background-image: -moz-linear-gradient(rgba(0,0,0,0.14) 0%, rgba(255,255,255,0.12) 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.14)), color-stop(100%,rgba(255,255,255,0.12)));
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.14) 0%,rgba(255,255,255,0.12) 100%);
  background-image: -o-linear-gradient(rgba(0,0,0,0.14) 0%,rgba(255,255,255,0.12) 100%);
  background-image: -ms-linear-gradient(rgba(0,0,0,0.14) 0%,rgba(255,255,255,0.12) 100%);
  background-image: linear-gradient(rgba(0,0,0,0.14) 0%,rgba(255,255,255,0.12) 100%);
}

.tags .inset {
  color: rgba(0,0,0,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

/* === Customs ========== */

.tags a,
.tags a:before { background-color: #b7b7b7;}
.tags a,
.tags a:after,
.tags a:before { border-color: #777; }
.tags a.inset { color: #454545; /* Here you can override the default rgba(0,0,0,0.5); */ }

.tags .tag-red,
.tags .tag-red:before { background-color: #f25c48;}
.tags .tag-red,
.tags .tag-red:after,
.tags .tag-red:before { border-color: #bc4738; }
.tags .tag-red.inset { color: #8a241e; }

.tags .tag-blue,
.tags .tag-blue:before { background-color: #0b9db7;}
.tags .tag-blue,
.tags .tag-blue:after,
.tags .tag-blue:before { border-color: #087184; }
.tags .tag-blue.inset { color: #054854; }

.tags .tag-orange,
.tags .tag-orange:before { background-color: #f28f1a;}
.tags .tag-orange,
.tags .tag-orange:after,
.tags .tag-orange:before { border-color: #bb6e14; }
.tags .tag-orange.inset { color: #7e4a0d; }